@media (prefers-color-scheme: dark) { 
    body
    {
        background: black;
        color: white;
    }

    assigmentTitle {
        color: white;
    }

    textarea {
      border-color: white;
      background-color: black;
      color: white;  
    }

    button {
        background-color: black;
        color: white;
    }
}

@media (prefers-color-schema: light) {
    body
    {
        background: white;
        color: black;
    }

    assigmentTitle {
        color: black;
    }

    textarea {
      border-color: black;
      background-color: white;
      color: black;  
    }

    button {
        background-color: white;
        color: black
    }
}

.Assignment {
    margin: 0px;
    width: 500px;
    height: 200px !important;
    font-size: 15px;
}

.main .content h1 {
    width: 100%;
}

.main .content {
    display: block;
}

.assigmentBlock {
    display: inline-block;
}

.solutionItemBlock {
    display: inline-block;
}